@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  @apply mx-auto
         2xl:max-w-[2040px] 2xl:px-[40px];
}
.container {
  @apply px-[20px] mx-auto
         md:px-[20px]
         lg:max-w-[2094px] lg:px-[118px]
         xl:max-w-[1152px] xl:px-[0px]
}