@tailwind base;
@tailwind components;
@tailwind utilities;



.wrapper {
  @apply mx-auto
         2xl:max-w-[2040px] 2xl:px-[40px];
}
.container {
  @apply px-[20px] mx-auto
         md:px-[20px]
         lg:max-w-[2094px] lg:px-[118px]
         xl:max-w-[1152px] xl:px-[0px]
}

.btn-back {
  @apply fixed top-[200px] left-0 z-50
         flex items-center gap-2
         w-[12px] px-0 py-2
         overflow-hidden
         bg-blue-400 text-white font-medium
         transition-[width,padding,background-color] duration-500
         ease-[cubic-bezier(0.22,1,0.36,1)]
         hover:bg-blue-500 hover:w-auto hover:px-[30px] hover:pl-[25px];

  & span {
    @apply whitespace-nowrap
           opacity-0 translate-x-3
           transition-all duration-500 ease-out
           delay-100;
  }

  &:hover span {
    @apply opacity-100 translate-x-0 delay-150;
  }
}

